{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Subscription Plans{% endblock title %}

{% block banner-slider %}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="{% url 'client_home' %}">Home</a></li>
                <li>Subscribe Plans</li>
            </ol>
        </div>
    </div>
</section>

<!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Specials</h2>
                <p>Check Our Specials</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Easy Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Quality Trucks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Price Control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Live Tracking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Goods Insurance</a>
                        </li>
                    </ul>
                </div>
        
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Easy Booking</h3>
                                    <p class="fst-italic">By Leveraging technology and a customer-centric approach, we aim to become the leading choice among companies that value transparency, reliability and security in transportation of products</p>
                                    <p>Our user friendly app allows companies to book trucks for transportation at their convenience, streamlining the logistics process.</p>
                                </div>
                                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'assets/img/features-2.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Quality Trucks</h3>
                                    <p class="fst-italic">At Surge Seven Logistics, we provide a fleet of well-maintained truck vehicles to ensure the safe and efficient transportation of products.</p>
                                    <p>Surge Seven Logistics provides different quality trucks to clients based on weight specification which helps in obtaining the perfect weight of truck required to transport products.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589263/service-44_awzwb4.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Price Control</h3>
                                    <p class="fst-italic">At Surge Seven Logistics, we offer competitive pricing options, therby giving esteemed clients cost-effective solutions for their transportation needs.</p>
                                    <p>Surge Seven Logistics also facilitates the effective and easy payment method by integrating modern payment technologies in the mobile and web application for a seamless experience.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589414/carousel-1_tfys3t.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Live Tracking</h3>
                                    <p class="fst-italic">Registered clients can monitor and track the location and status of their goods during transit, enabling real-time updates and enhanced visibility.</p>
                                    <p>With the aid of our mobile and web apps, clients can conveniently monitor the movement of their goods in real-time which improves transparency and efficiency in the transportation process.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589415/testimonials-bg_yfwfan.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Insurance Coverage</h3>
                                    <p class="fst-italic">All goods transported through our platform are covered by comprehensive insurance, safeguarding against unforeseen events.</p>
                                    <p>With focus on security, Surge Seven offers comprehensive insurance coverage for goods in transit, providing peace of mind to all parties, Insurance coverage is a privileged afforded to all premium subscribers.</p>
                                </div>
                
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="https://res.cloudinary.com/dykhctgak/image/upload/v1724589470/feature_zwbedf.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--======== End Specials Section =========-->

{% endblock %}

{% block main-content %}
<div class="container mt-5">
    <div class="section-title">
        <h2>Subscribe</h2>
        <p>Choose a plan that suits your needs</p>
    </div>
    <div class="row">
        {% for plan in subscription_plans %}
        <div class="col-lg-4 pricing-item bg-green text-white text-center p-0 mb-5 mx-auto">
            <div class="pricing-title text-uppercase py-3 fs-5">{{ plan.name }}</div>
            <div class="pricing-price fs-1 fw-bold"># {{ plan.price|floatformat:"0" }}</div>
            <ul class="px-0">
                <li>Booking System</li>
                <li>Tracking System</li>
                <li>Insurance Policy</li>
                <li>{{ plan.formatted_duration }}</li>
            </ul>
            <div class="pricing-footer pt-3 pb-5">
                <a href="{% url 'subscribe' plan.id %}" class="btn bg-white text-green">Subscribe</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main-content %}
